:host {
    ul {
        width: 100%;
        display: inline-block;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        li {
            .inner {
                padding: 4px 8px;
                display: flex;
                align-items: center;
                .icon-container {
                    position: relative; 
                    width: 25px;
                    height: 25px;
                    margin-right: 7px;
                    > * {
                        position: absolute;
                    }
                    img {
                        width: 25px;
                        height: 25px;
                        opacity: 1;
                        transition: all 0.3s;
                    }
                    app-loading-spinner {
                        display: none;
                        top: 0px;
                        left: 0px;
                        width: 25px;
                        height: 25px;
                    }
                }
                &.is-loading {
                    .icon-container {

                        img {
                            filter: blur(1px);
                            opacity: 0.6;
                        }
                        app-loading-spinner {
                            display: block;
                        }
                    }
                }
                &:hover {
                    background-color: var(--color-light-tint);
                }
                &.is-selected {
                    background-color: var(--color-light-tint);
                }
                &.is-highlighted {
                    text-shadow: 0 0 5x 1px var(--color-highlight);
                }
                &:focus {
                    outline: none;
                }
            }
            .sub-files {
                padding-left: 12px;

            }
        }
    }

    .file-name-input {
        width: 100%;
    }

}