<div class="container">

  <div class="main-frame">

    <div class="left-bar box scroll-y">
      <app-file-list [files]="files" (selected)="selectFile($event)" (open)="openFile($event)"></app-file-list>
    </div>
    
    <main class="editor">
      <div class="preview box">

        <div class="preview-content local-file-preview" *ngIf="filePreviewSrc">
          <img [src]="this.filePreviewSrc" alt="">
        </div>
        
      </div>
      <div class="frame box">

        <app-frame-toolbar
          [currentEditor]="editor"
          [hasChanges]="hasUnsavedChanges"
          (editorTypeChange)="onEditorTypeChange($event)"
          (save)="saveFile()"
          (cancel)="cancelChanges()">
        </app-frame-toolbar>

        <div class="frame-content scroll-y">
          <app-text-editor *ngIf="editor === 'basic'" [content]="fileContent" (textChange)="onContentChange($event)"></app-text-editor>
          <app-key-value-groups *ngIf="editor === 'key-value-simple'" [content]="fileContent" (contentChange)="onContentChange($event)"></app-key-value-groups>  
        </div>
      </div>
    </main>


  </div>

  <div class="bottom-bar">
    <input [(ngModel)]="engineInput" class="engine-input" type="text">
    
    <button class="engine-start" (click)="submitEngineCall()">Starten</button>
  
  </div>

</div>
